<nav class="navbar navbar-expand-md navbar-dark bg-dark">
   <div class="container">
    <a class="navbar-brand" routerLink="home"><img style="height:1.8em;" src="./assets/img/ibc.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault" style="color: white">
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item" routerLinkActive="active" style="margin-right: 160px">
          <a class="nav-link" routerLink="home" >Igreja Baptista de Coimbra <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="home" style="color: white">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="horarios" style="color: white">Horarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="noticias" style="color: white">Notícias</a>
        </li>
        <!--li class="nav-item">
          <a class="nav-link" routerLink="eventos" style="color: white">Eventos</a>
        </li-->
        <li class="nav-item">
          <a class="nav-link" routerLink="galeria" style="color: white">Galeria</a>
        </li>
        <!--li class="nav-item">
          <a class="nav-link" routerLink="contactos" style="color: white">Contactos</a>
        </li-->
        <!--li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li-->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <!--input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"-->
        
          <a class="nav-link btn btn-outline-success my-2 my-sm-0" routerLink="contactos" style="color: white">Contactos</a>
      
      </form>
    </div>
    </div>
  </nav>