
       <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2 class="logo"><a routerLink="home"> <img style="height:1.8em;" src="./assets/img/ibc.png"> </a></h2>
                </div>
                <div class="col-sm-2">
                    <h5>A Igreja</h5>
                    <ul>
                        <li><a routerLink="home">Home</a></li>
                        <li><a routerLink="horarios" >Horarios</a></li>
                        <!--li><a routerLink="eventos">Eventos</a></li-->
                        <li><a routerLink="noticias">Notícias</a></li>
                        <li><a routerLink="galeria">Galeria</a></li>
                        
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Artigos</h5>
                    <ul>
                        <li><a routerLink="salvacao">A salvação</a></li>
                        <li><a routerLink="historia">História do Cristianismo</a></li>
                        <li><a routerLink="jesus">Jesus</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Endereço</h5>
                    <span>Av. Emídio Navarro 54, 3000-210 Coimbra</span><br>
                    <span>239 828 551</span>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <a class="btn btn-default" routerLink="contactos">Contacte-nos</a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2018 Igreja Baptista de Coimbr<a routerLink="publicar">a</a></p> 
        </div>
    </footer>