<div class="container">  
 <div class="card card-inverse card-info" *ngFor="let not of noticias" style="margin-bottom: 10px">
  <div class="card-header">
    
  </div>
  <div class="row">
     <div class="col-lg-4" *ngIf="{ c: baseUrl + not.foto } as variable">
         

                    <img src="{{variable.c}}"  class="img-responsive" alt="" width="304" height="236">

           
     </div>
     <div class="col-lg-8">
         <div class="card-block">
        


        <h4 class="card-title " style="margin-left: 5px">{{not.titulo}}</h4>
        <p class="card-text" style="margin-left: 5px">{{not.descricao}}</p>
      </div>
     </div>
      
  </div>
</div>
</div> 