<div class="container">


<h1>Galeria</h1>
<div class="col-md-12">
<div class="row">
<hr>

	<div class="gal">
	
	<img src="./assets/img/coral.jpg" alt="">
	
		<img src="./assets/img/igreja.jpg" alt="">
		
			<img src="./assets/img/img1.jpg" alt="">
			
			<img src="./assets/img/jonatas.jpg" alt="">
			
			
		
			<img src="./assets/img/leste.jpg" alt="">
				<img src="./assets/img/lilia.jpg" alt="">
			
			<img src="./assets/img/more.jpg" alt="">
			
				<img src="./assets/img/pr.jpg" alt="">
			
				<img src="./assets/img/prcoral.jpg" alt="">
				<img src="./assets/img/baptismo.jpg" alt=""><img src="./assets/img/img2.jpg" alt="">
				<img src="./assets/img/img3.jpg" alt="">
				
				<img src="./assets/img/img5.jpg" alt="">
				
				
	</div>
	
</div>
</div>
</div>


