<div class="container">
 <div style="overflow-x:auto;">
    

<table style="width: 100%;">
  <thead>
    <tr >

      <th colspan="7" style="text-align: center"><h2>Horários de Actividades</h2></th>
      
  
    </tr>
  </thead>
  <tbody class="table">
    <tr class="table-active">
      <td>Segunda</td>
      <td>Terça</td>
      <td>Quarta</td>
      <td>Quinta</td>
      <td>Sexta</td>
      <td>Sábado</td>
      <td>Domingo</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><strong>10:00: </strong> Escola Bíblica</td>
      
    </tr>
    <tr class="">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><strong>11:15: </strong> Culto Dominical</td>
    </tr>
    <tr class="">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><strong>14:30: </strong>Ensaios</td>
      <td></td>
    </tr>
    <tr class="">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="">
      <td></td>
      <td></td>
      <td><strong>17:30: </strong> Culto de Oração</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
   
  </tbody>
</table>
</div>
</div>